<% if address.present? %>
  <div class="space-y-2 dark:border-primary-700 sm:text-xs">
    <h4 class="text-lg font-semibold text-black dark:text-white">
      <%= t('.address_to') %> <%= address.full_name %>
    </h4>
    <p class="text-xs sm:text-base text-primary-900 dark:text-white">
      <%= address.short_summary %>
      <%= hidden_field_tag 'order[address_id]', address.id %>
    </p>
  </div>
<% else %>
  <div class="space-y-2 dark:border-primary-700 sm:text-xs">
    <h4 class="text-lg font-semibold text-primary-900 dark:text-white">
      <%= t('.no_addresses') %>
    </h4>
  </div>
<% end %>
