<td class="py-4 w-[70%]">
  <div class="flex items-center gap-4">
    <a href="#" class="flex items-center aspect-square w-20 shrink-0">
      <%= image_tag(cover_image(item.cover, variant: :small), class: 'mx-auto object-contain', alt: item.title) %>
      <span class="sr-only"><%= item.title %> cover image</span>
    </a>
    <a href="#" class="text-black hover:underline"><%= item.title %>
      <span class="text-sm text-primary-500">(<%= item.subtitle %>)</span>
    </a>
  </div>
</td>

<td class="w-[10%] p-4 text-base text-center font-normal text-primary-900"><%= item.quantity %></td>

<td class="w-[20%] p-4 text-right text-base font-bold text-magenta-500">
  <%= number_to_currency(item.price) %>
</td>
