<% content_for :turbo_frame_content do %>
  <%= turbo_frame_tag :drawer, data: { controller: 'drawer', action: 'turbo:before-frame-render->drawer#animate' } %>
<% end %>

<section>
  <div class="mx-auto max-w-screen-xl 2xl:px-0">
    <div class="grid gap-4 lg:flex lg:items-start">
      <div class="min-w-0 flex-1 space-y-4">
        <div class="flex items-start justify-between rounded-lg border border-primary-200 bg-white p-6 shadow-sm">
          <%= form_with(model: Order.new, html: { id: 'new-order-form' }) do |f| %>
            <div id="orders-address">
              <%= render partial: 'orders/address', locals: { address: @address } %>
            </div>
          <% end %>

          <div class="sm:text-xs">
            <% if @address.present? %>
              <%= link_to t('.change_address'), order_addresses_path, class: 'text-xs sm:text-base font-medium text-blue-600 hover:underline active:underline', data: { turbo_frame: :remote_modal } %>
            <% else %>
              <%= link_to t('.add_address'), new_address_path, class: 'text-xs sm:text-base font-medium text-blue-600 hover:underline', data: { turbo_frame: :drawer } %>
            <% end %>
          </div>
        </div>

        <div class="flex flex-col rounded-lg border border-primary-200 bg-white p-6 shadow-sm gap-4 max-h-200 overflow-y-auto">
          <h3 class="text-xl font-semibold text-black"><%= t('.products') %></h3>
          <%= render partial: 'carts/item', collection: @cart.items %>
        </div>
      </div>

      <div class="rounded-lg border border-primary-200 bg-white p-6 shadow-sm w-full space-y-4 lg:mt-0 lg:max-w-xs xl:max-w-md">
        <div class="flow-root">
          <div class="-my-3 divide-y divide-primary-200">
            <dl class="flex items-center justify-between gap-4 py-3">
              <dt class="text-base font-normal text-black"><%= t('.subtotal') %></dt>
              <dd id="<%= dom_id(current_cart, :subtotal_order) %>" class="text-base font-medium text-magenta-500">
                <%= render 'total' %>
              </dd>
            </dl>

            <dl class="flex items-center justify-between gap-4 py-3">
              <dt class="text-base font-bold text-black"><%= t('.total') %></dt>
              <dd id="<%= dom_id(current_cart, :total_order) %>" class="text-base font-bold text-magenta-500">
                <%= render 'total' %>
              </dd>
            </dl>
          </div>
        </div>

        <div class="space-y-3">
          <%= button_tag t('.make_order_and_pay'), type: :submit, form: 'new-order-form', class: "form--submit #{class_names('disabled:pointer-events-none': @address.nil?, 'disabled:opacity-50': @address.nil?)}", disabled: @address.nil?, 'aria-disabled': @address.nil? %>
        </div>
      </div>
    </div>
  </div>
</section>
