<% content_for :turbo_frame_content do %>
  <%= turbo_frame_tag :drawer, data: { controller: 'drawer', action: 'turbo:before-frame-render->drawer#animate' } %>
<% end %>

<section>
  <%= form_with(model: Order.new) do |f| %>
    <div class="mx-auto max-w-screen-xl 2xl:px-0">
      <div class="grid gap-4 lg:flex lg:items-start">
        <div class="min-w-0 flex-1 space-y-4">
          <div class="flex items-start justify-between rounded-lg border border-primary-200 bg-white p-6 shadow-sm">
            <div id="orders-address">
              <%= render partial: 'orders/address', locals: { address: @address } %>
            </div>

            <div class="sm:text-xs">
              <% if @address.present? %>
                <%= link_to t('.change_address'), order_addresses_path, class: 'text-xs sm:text-base font-medium text-blue-600 hover:underline active:underline', data: { turbo_frame: :remote_modal } %>
              <% else %>
                <%= link_to t('.add_address'), new_address_path, class: 'text-xs sm:text-base font-medium text-blue-600 hover:underline', data: { turbo_frame: :drawer } %>
              <% end %>
            </div>
          </div>

          <div class="rounded-lg border border-primary-200 bg-white p-6 shadow-sm">
            <div class="overflow-x-auto h-full max-h-200 overflow-y-scroll">
              <table class="w-full text-left font-medium text-primary-900 min-w-xl md:table-fixed">
                <thead class="text-sm text-black bg-blue-50">
                  <tr>
                    <th scope="col" class="w-[70%] px-6 py-3"><%= t('.product') %></th>
                    <th scope="col" class="w-[10%] px-6 py-3"><%= t('.quantity') %></th>
                    <th scope="col" class="w-[20%] px-6 py-3 text-right"><%= t('.price') %></th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-primary-200">
                  <% @cart.items.each do |item| %>
                    <tr id="order-item-<%= item.id %>">
                      <%= render 'orders/item', item: %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="rounded-lg border border-primary-200 bg-white p-6 shadow-sm w-full space-y-4 lg:mt-0 lg:max-w-xs xl:max-w-md">
          <div class="flow-root">
            <div class="-my-3 divide-y divide-primary-200">
              <dl class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-normal text-black"><%= t('.subtotal') %></dt>
                <dd id="<%= dom_id(current_cart, :subtotal_order) %>" class="text-base font-medium text-magenta-500">
                  <%= render 'total' %>
                </dd>
              </dl>

              <dl class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-bold text-black"><%= t('.total') %></dt>
                <dd id="<%= dom_id(current_cart, :total_order) %>" class="text-base font-bold text-magenta-500">
                  <%= render 'total' %>
                </dd>
              </dl>
            </div>
          </div>

          <div class="space-y-3">
            <%= f.submit t('.make_order_and_pay'), class: "form--submit #{class_names('disabled:pointer-events-none': @address.nil?, 'disabled:opacity-50': @address.nil?)}", disabled: @address.nil?, 'aria-disabled': @address.nil? %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
