<div class="bg-white max-w-lg p-3 flex flex-col gap-6 m-2 sm:m-10">
  <!-- Header Section -->
  <div class="space-y-1">
    <h2 class="text-2xl font-bold text-black">
      <%= t('title', scope: 'orders.show') %>
    </h2>
  </div>

  <!-- Order Summary Card -->
  <div class="hover:border-primary-600 rounded-lg shadow-sm p-4 sm:p-6 border border-primary-200">
    <div class="flex flex-col gap-2 mb-2">
      <p class="sm:text-base text-sm font-medium text-black"><%= t('order_id', scope: 'orders.show') %></p>
      <p class="sm:text-sm text-xs font-mono text-primary-600"><%= @order.id %></p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 mb-2">
      <div class="space-y-1">
        <p class="sm:text-base text-sm font-medium text-black"><%= t('date', scope: 'orders.show') %></p>
        <p class="sm:text-sm text-xs text-primary-600 "><%= l(@order.created_at, format: :short_with_year) %></p>
      </div>
    </div>

    <div class="flex justify-between items-center">
      <div class="space-y-1">
        <p class="sm:text-base text-sm font-medium text-black"><%= t('workflow_status', scope: 'orders.show') %></p>
      </div>
      <span class="inline-flex items-center gap-1.5 rounded-full px-3 py-1 text-xs font-medium bg-primary-100 text-primary-800/30 ring-1 ring-inset ring-primary-600/20/30">
        <svg class="h-3 w-3 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z" />
        </svg>
        <span><%= @order.class.human_attribute_name("workflow_status.#{@order.workflow_status}") %></span>
      </span>
    </div>
  </div>

  <!-- Delivery Address Section -->
  <div class="space-y-4">
    <h3 class="text-xl font-bold text-black">
      <%= t('delivery_address', scope: 'orders.show') %>
    </h3>

    <div class="hover:border-primary-600 rounded-lg shadow-sm p-4 sm:p-6 border border-primary-200">
      <h4 class="sm:text-base text-sm font-semibold text-black mb-2">
        <%= @order.address.full_name %>
      </h4>
      <div class="space-y-1 sm:text-sm text-xs text-primary-600">
        <%= @order.address.short_summary %>
      </div>
    </div>
  </div>

  <!-- Products Section -->
  <div class="space-y-4">
    <h3 class="text-xl font-bold text-black">
      <%= t('products', scope: 'orders.show') %>
    </h3>

    <div class="hover:border-primary-600 rounded-lg shadow-sm overflow-hidden border border-primary-200">
      <% @order.items.each do |item| %>
        <div class="p-4 sm:p-6 border-b border-primary-200 last:border-b-0">
          <div class="flex flex-row gap-4 sm:gap-6">
            <!-- Product Image -->
            <div class="flex-shrink-0 w-24">
              <%= image_tag(cover_image(item.cover, variant: :medium), class: 'w-full object-cover', alt: item.title) %>
            </div>

            <!-- Product Details -->
            <div class="flex-1">
              <h4 class="sm:text-base text-sm font-medium text-black mb-1">
                <%= item.title %>
              </h4>
              <div class="grid grid-cols-2 gap-2 mt-2 text-sm">
                <div>
                  <p class="sm:text-base text-sm text-black"><%= t('product.quantity', scope: 'orders.show') %></p>
                  <p class="sm:text-sm text-xs text-black"><%= item.quantity %></p>
                </div>
                <div>
                  <p class="sm:text-base text-sm text-black">Price</p>
                  <p class="sm:text-sm text-xs text-magenta-500"><%= number_to_currency(item.price) %></p>
                </div>
                <div class="col-span-2 sm:col-span-1">
                  <p class="sm:text-base text-sm text-black">Subtotal</p>
                  <p class="sm:text-sm text-xs text-magenta-500"><%= number_to_currency(item.price * item.quantity) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Order Total -->
      <div class="p-4 sm:p-6/10 border-t border-primary-200">
        <div class="flex justify-between items-center">
          <span class="text-lg font-medium text-black"><%= t('total', scope: 'orders.show') %></span>
          <span class="text-xl font-bold text-magenta-500"><%= number_to_currency(@order.total) %></span>
        </div>
      </div>
    </div>
  </div>
</div>
