<%= render 'drawer' do %>
  <div class="relative mt-6 flex-1 px-4 flex flex-col gap-6 m-2 sm:m-10">
    <div id='cart-items'>
      <%= render partial: 'carts/item', collection: current_cart.items %>
    </div>
    <div class="sm:px-6 inline-flex items-center rounded-lg justify-center text-sm font-medium leading-none text-primary-800 dark:text-white">
      <svg class="w-5 h-5 lg:me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
      </svg>
      <h4 id="<%= dom_id(current_cart, :total_items_drawer) %>" class="font-semibold text-primary-800 dark:text-white">
        <%= render 'carts/total_items_drawer' %>
      </h4>
    </div>
    <a href="#" title="" class="mb-2 me-2 inline-flex w-full items-center justify-center rounded-lg bg-primary-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-700 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-700 dark:hover:bg-primary-900 dark:focus:ring-primary-800" role="button"><%= t('link_to_checkout', scope: 'carts.show') %></a>
  </div>
<% end %>
