<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>
</div>

<section class="bg-blue-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-primary-900 md:text-2xl"><%= t('.title') %></h1>

        <%= form_with url: password_path(params[:token]), method: :put, class: 'space-y-4 md:space-y-6' do |form| %>
          <div>
            <label for="new-password" class="block mb-2 text-sm font-medium text-primary-900">
              <%= t('.new_password') %>
            </label>

            <%= form.password_field :password, required: true, autocomplete: 'new-password', placeholder: '**********', maxlength: 72, class: 'bg-primary-50 border border-primary-300 text-primary-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' %>
          </div>

          <div>
            <label for="repeat-password" class="block mb-2 text-sm font-medium text-primary-900">
              <%= t('.repeat_new_password') %>
            </label>

            <%= form.password_field :password_confirmation, required: true, autocomplete: 'repeat-password', placeholder: '**********', maxlength: 72, class: 'bg-primary-50 border border-primary-300 text-primary-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' %>
          </div>

          <%= form.submit t('.submit'), class: 'form--submit' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
