<section>
  <div class="mx-auto max-w-screen-xl 2xl:px-0">
    <div class="mx-auto">
      <div class="pt-4 gap-4 sm:flex sm:items-center sm:justify-between">
        <h2 class="text-xl font-semibold text-primary-900 dark:text-white sm:text-2xl"><%= t('.title') %></h2>
      </div>

      <div class="mt-6 flow-root">
        <div class="grid gap-4">
          <% @orders.each do |order| %>
            <div class="rounded-lg border border-primary-200 bg-white shadow-sm hover:shadow-md transition-shadow duration-200 dark:bg-primary-800 dark:border-primary-700">
              <div class="hover:bg-primary-100 border-b border-primary-200 dark:border-primary-700 p-4 flex flex-col sm:flex-row justify-between gap-2">
                <div class="flex gap-2">
                  <div>
                    <p class="text-xs sm:text-sm font-medium text-primary-500 dark:text-primary-400"><%= t('.order_id') %></p>
                    <p class="text-xs sm:text-sm font-semibold text-primary-900 dark:text-white"><%= order.id %></p>
                  </div>
                </div>
                <div class="flex items-center gap-2">
                  <%= link_to nil, class: 'w-full text-xs sm:text-sm inline-flex items-center justify-center rounded-lg bg-primary-600 px-3 py-1.5 font-medium text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 dark:bg-primary-700 dark:hover:bg-primary-600 dark:focus:ring-primary-600' do %>
                    <%= t('.actions.edit') %>
                    <svg class="ml-1 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                    </svg>
                  <% end %>
                </div>
              </div>

              <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
                <div class="space-y-3">
                  <div>
                    <p class="text-xs sm:text-sm font-medium text-primary-500 dark:text-primary-400"><%= t('.date') %></p>
                    <p class="text-xs sm:text-sm font-semibold text-primary-900 dark:text-white">
                      <%= l(order.created_at, format: :short_with_year) %>
                    </p>
                  </div>
                </div>

                <div class="space-y-3">
                  <div>
                    <p class="text-xs sm:text-sm font-medium text-primary-500 dark:text-primary-400"><%= t('.email') %></p>
                    <p class="text-xs sm:text-sm font-semibold text-primary-900 dark:text-white">
                      <%= order.user.email %>
                    </p>
                  </div>
                </div>

                <div class="space-y-3">
                  <div>
                    <p class="text-xs sm:text-sm font-medium text-primary-500 dark:text-primary-400"><%= t('.total') %></p>
                    <p class="text-xs sm:text-sm font-semibold text-primary-900 dark:text-white">
                      <%= number_to_currency(order.total) %>
                    </p>
                  </div>
                </div>

                <div class="space-y-3">
                  <div>
                    <p class="text-xs sm:text-sm font-medium text-primary-500 dark:text-primary-400">
                      <%= t('.workflow_status') %>
                    </p>
                    <span class="text-xs sm:text-sm inline-flex items-center gap-1 rounded-full bg-primary-100 px-3 py-1 font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300">
                      <svg class="h-3 w-3 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z" />
                      </svg>
                      <span><%= order.workflow_status.humanize %></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
