<%= fields_for book do |bf| %>
  <%= bf.fields_for :product do |pf| %>
    <%= pf.fields_for :translation do |tf| %>
      <div class="relative z-0 w-full mb-5 group">
        <%= tf.text_field :title, value: product.title, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
        <%= tf.label :title, t('title', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <%= tf.text_field :subtitle, value: product.subtitle, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
        <%= tf.label :subtitle, t('subtitle', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <%= tf.text_field :price, value: product.price, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
        <%= tf.label :price, t('price', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
      </div>

      <%= tf.hidden_field :locale, value: product.translation.locale %>
    <% end %>

    <div class="relative z-0 w-full mb-5 group">
      <%= pf.text_field :stock, value: product.stock, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
      <%= pf.label :stock, t('stock', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
    </div>

    <div class="relative z-0 w-full mb-5 group" data-controller="image-preview direct-upload">
      <div class="flex items-center justify-start gap-3">
        <%= pf.file_field :cover, accept: 'image/png,image/jpeg', class: 'drawer--form-file-field peer', direct_upload: true, placeholder: ' ', data: { image_preview_target: 'source', direct_upload_target: 'input', action: 'image-preview#show change->direct-upload#now' } %>
        <%= pf.label :cover, t('cover', scope: 'backoffice.products.book'), class: 'drawer--form-file-label' %>

        <div>
          <%= image_tag(cover_image(product.cover), class: 'w-25 h-20', alt: t('cover_preview', scope: 'backoffice.products.book'), data: { image_preview_target: 'image' }) %>
          <span class="block h-1 bg-gray-500 transition-all duration-300 w-0" style="width: 0%" data-direct-upload-target="progressBar"></span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="relative z-0 w-full mb-5 group">
    <%= bf.text_field :internal_code, value: book.internal_code, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
    <%= bf.label :internal_code, t('internal_code', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <%= bf.text_field :language, value: book.language, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
    <%= bf.label :language, t('language', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <%= bf.text_field :language_zone, value: book.language_zone, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
    <%= bf.label :language_zone, t('language_zone', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <%= bf.text_field :edition_number, value: book.edition_number, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
    <%= bf.label :edition_number, t('edition_number', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <%= bf.text_field :pages_number, value: book.pages_number, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
    <%= bf.label :pages_number, t('pages_number', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <%= bf.text_field :cover_color, value: book.cover_color, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
    <%= bf.label :cover_color, t('cover_color', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <%= bf.text_field :dimensions, value: book.dimensions, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
    <%= bf.label :dimensions, t('dimensions', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <%= bf.number_field :weight_grams, value: book.weight_grams, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
    <%= bf.label :weight_grams, t('weight_grams', scope: 'backoffice.products.book'), class: 'drawer--form-label' %>
  </div>
<% end %>
