<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :internal_code, value: product.internal_code, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :internal_code, t('internal_code', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :original_title, value: product.original_title, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :original_title, t('original_title', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :title_mx, value: product.title_mx, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :title_mx, t('title_mx', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :language, value: product.language, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :language, t('language', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :language_zone, value: product.language_zone, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :language_zone, t('language_zone', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :edition_number, value: product.edition_number, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :edition_number, t('edition_number', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :pages_number, value: product.pages_number, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :pages_number, t('pages_number', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :price_mx, value: product.price_mx, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :price_mx, t('price_mx', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :stock, value: product.stock, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :stock, t('stock', scope: 'backoffice.products.shared'), class: 'drawer--form-label' %>
</div>
