<% content_for :turbo_frame_content do %>
  <%= turbo_frame_tag :drawer, data: { controller: 'drawer', action: 'turbo:before-frame-render->drawer#animate turbo:before-frame-render->drawer#hideSidebar' } %>
<% end %>

<section>
  <div class="mx-auto max-w-7xl 2xl:px-0">
    <div class="mx-auto">
      <div class="pt-4 gap-4 sm:flex sm:items-center sm:justify-between">
        <h2 class="text-xl font-semibold text-primary-900 sm:text-2xl"><%= t('.title') %></h2>
        <%= link_to new_backoffice_product_path(type: params[:type]), class: 'inline-flex items-center justify-center rounded-lg text-lg font-medium text-primary-700 hover:underline', data: { turbo_frame: :drawer } do %>
          <%= t('.actions.new') %>
          <svg class="ml-1 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
          </svg>
        <% end %>
      </div>

      <div class="mt-6 flow-root">
        <div class="grid gap-4">
          <% @products.each do |product| %>
            <% product_type = product.productable_type.underscore %>
            <%= render "#{product_type}_card", product:, product_type.to_sym => product.productable %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
