<div class="relative z-0 w-full mb-5 group">
  <%= form.select :country_id, select_country_options, { selected: default_country.id }, class: 'drawer--form-field', required: true %>
  <%= form.label :country_id, t('country', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :postal_code, class: 'drawer--form-field peer', maxlength: 5, required: true, placeholder: ' ', data: { action: 'change->addresses--form#completeAddress input->addresses--form#restrictToNumbers', addresses__form_target: 'postalCode' } %>
  <%= form.label :postal_code, t('postal_code', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :state_id, value: address.state_id, hidden: true, data: { addresses__form_target: 'stateId' } %>
  <%= text_field_tag :state_name, address.state_name, disabled: true, placeholder: ' ', autocomplete: 'off', class: 'drawer--form-field peer', data: { addresses__form_target: 'stateName' } %>
  <%= form.label :state_id, t('state', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :city_id, value: address.city_id, hidden: true, class: 'drawer--form-field', required: true, data: { addresses__form_target: 'cityId' } %>
  <%= text_field_tag :city_name, address.city_name, disabled: true, placeholder: ' ', autocomplete: 'off', class: 'drawer--form-field peer', data: { addresses__form_target: 'cityName' } %>
  <%= form.label :city_id, t('city', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.select :neighborhood, select_neighborhood_options(address.postal_code), { include_blank: t('choose_option', scope: 'addresses.shared'), selected: address.neighborhood }, class: 'drawer--form-select peer', required: true, data: { addresses__form_target: 'neighborhood' } %>
  <%= form.label :neighborhood, t('neighborhood', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :street_and_number, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :street_and_number, t('street_and_number', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :reference, class: 'drawer--form-field peer', placeholder: ' ' %>
  <%= form.label :reference, t('reference', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>

<h2 class="text-2xl font-bold text-black mb-4">
  <%= t('contact_info', scope: 'addresses.shared') %>
</h2>

<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :full_name, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :full_name, t('full_name', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>
<div class="relative z-0 w-full mb-5 group">
  <%= form.text_field :phone_number, class: 'drawer--form-field peer', required: true, placeholder: ' ' %>
  <%= form.label :phone_number, t('phone_number', scope: 'addresses.shared'), class: 'drawer--form-label' %>
</div>

<div class="relative z-0 w-full pt-4 mb-5 group">
  <%= form.check_box :default, class: 'w-4 h-4 text-gray-600 bg-primary-100 border-primary-300 rounded-sm focus:ring-primary-500 cursor-pointer focus:ring-2' %>
  <%= form.label :default, t('default', scope: 'addresses.shared'), class: 'ms-2 text-sm font-medium cursor-pointer hover:underline text-gray-600' %>
</div>
