<%= render 'drawer' do %>
  <div class="relative mt-6 flex-1 px-4 flex flex-col gap-6 m-2 sm:m-10" data-controller="addresses--form">
    <%= form_with(model: @address) do |form| %>
      <h2 class="text-2xl font-bold text-black dark:text-white mb-4">
        <%= t('title', scope: 'addresses.new') %>
      </h2>

      <%= render 'form_fields', form:, address: @address %>

      <%= form.submit t('text_submit_button', scope: 'addresses.new'), class: 'drawer--form-submit' %>
    <% end %>
  </div>

  <template id="alertTemplate">
    <%= render 'shared/flash_message', message: '' %>
  </template>
<% end %>
