<% if query.present? && products.empty? %>
  <div class="text-center py-12">
    <svg
      class="mx-auto h-12 w-12 text-primary-300"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>

    <h3 class="mt-2 text-sm font-medium text-primary-900"><%= t('.no_results') %></h3>

    <p class="mt-1 text-sm text-primary-500"><%= t('.try_different_keywords') %></p>
  </div>
<% else %>
  <div
    id="products-list"
    class="<%= is_search ? '' : 'mt-6 mb-4' %> grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4"
  >
    <% if query.present? %>
      <%= render partial: 'products/product_search', collection: products, as: :product %>
    <% else %>
      <%= render products %>
    <% end %>
  </div>
  <div id="pagination" data-infinite-scroll-target="pagination" class="hidden"><%= pagy_next_link(pagy) %></div>
  <% if pagy.next %>
    <div id="scroll-sentinel" data-infinite-scroll-target="scrollSentinel" class="w-full text-center py-8">
      <div class="inline-block animate-spin rounded-full h-8 w-8 border-b-2 border-primary-600"></div>
    </div>
  <% end %>
<% end %>
