<% content_for :turbo_frame_content do %>
    <%= turbo_frame_tag :drawer, data: { controller: 'drawer', action: 'turbo:before-frame-render->drawer#animate' } %>
<% end %>

<section>
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="gap-4 sm:flex sm:items-center sm:justify-between">
      <h2 class="text-xl font-semibold text-primary-900 dark:text-white sm:text-2xl"><%= t('.title') %></h2>
    </div>

    <div class="mt-6 mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
      <% @products.each do |product| %>
        <div class="rounded-lg border border-primary-200 bg-white p-6 shadow-sm dark:border-primary-700 dark:bg-primary-700">
          <div class="h-56 w-full">
            <a href="#">
              <img class="mx-auto h-full block dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="">
              <img class="mx-auto hidden h-full dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="">
            </a>
          </div>
          <div class="pt-6 grid gap-3">
            <p class="text-lg font-semibold leading-tight text-primary-900 dark:text-white"><%= product.title_mx %>
              <span class="text-sm font-normal text-primary-500 dark:text-primary-400">(<%= product.original_title %>)</span>
            </p>

            <p class="text-2xl font-extrabold leading-tight text-primary-900 dark:text-white"><%= number_to_currency(product.price_mx) %></p>

            <ul class="flex items-center gap-4">
              <li class="flex items-center gap-2">
                <svg class="w-4 h-4 text-primary-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                </svg>

                <p class="text-sm font-medium text-primary-500 dark:text-primary-400"><%= t('.edition_number') %>: <%= product.edition_number %></p>
              </li>

              <li class="flex items-center gap-2">
                <svg class="w-4 h-4 text-primary-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
                </svg>
                <p class="text-sm font-medium text-primary-500 dark:text-primary-400"><%= t('.pages_number') %>: <%= product.pages_number %></p>
              </li>
            </ul>

            <div class="mt-4 flex gap-4" data-controller="products--form-quantity">
              <%= form_with model: Cart::Item.new do |f| %>
                <label class="block mb-2 text-sm font-medium text-primary-900 dark:text-white">
                  <%= t('.choose_quantity') %>
                </label>
                <div class="flex gap-2">
                  <div class="relative flex items-center">
                    <button type="button" class="bg-primary-100 dark:bg-primary-700 dark:hover:bg-primary-600 dark:border-primary-600 hover:bg-primary-200 border border-primary-300 rounded-s-lg p-3 h-11 focus:ring-primary-100 dark:focus:ring-primary-700 focus:ring-2 focus:outline-none" data-action="click->products--form-quantity#decrement">
                      <svg class="w-3 h-3 text-primary-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
                      </svg>
                    </button>

                    <%= f.hidden_field :product_id, value: product.id %>

                    <%= f.text_field :quantity, class: 'bg-primary-50 border border-primary-300 h-11 text-center text-primary-900 text-sm focus:outline-none focus:ring-1 focus:ring-primary-600 focus:border-primary-600 block w-full py-2.5 dark:bg-primary-700 dark:border-primary-600 dark:placeholder-primary-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', placeholder: '1', required: true, value: 1, data: { action: 'input->products--form-quantity#restrictToNumbers', products__form_quantity_target: 'input' } %>
                    <button type="button" class="bg-primary-100 dark:bg-primary-700 dark:hover:bg-primary-600 dark:border-primary-600 hover:bg-primary-200 border border-primary-300 rounded-e-lg p-3 h-11 focus:ring-primary-100 dark:focus:ring-primary-700 focus:ring-2 focus:outline-none" data-action="click->products--form-quantity#increment">
                      <svg class="w-3 h-3 text-primary-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                      </svg>
                    </button>
                  </div>
                  <%= f.button nil, class: 'inline-flex shrink-0 items-center rounded-lg bg-primary-600 px-3.5 py-2.5 text-sm font-medium text-white hover:bg-primary-700 focus:outline-none focus:ring-4  focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-800 dark:focus:ring-primary-800 cursor-pointer' do %>
                    <svg class="-ms-2 me-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
                    </svg>
                    <%= t('.add_to_cart') %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full text-center">
      <button type="button" class="rounded-lg border border-primary-200 bg-white px-5 py-2.5 text-sm font-medium text-primary-900 hover:bg-primary-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-primary-100 dark:border-primary-600 dark:bg-primary-800 dark:text-primary-400 dark:hover:bg-primary-700 dark:hover:text-white dark:focus:ring-primary-700">Show more</button>
    </div>
  </div>
</section>
