<% content_for :turbo_frame_content do %>
  <%= turbo_frame_tag :drawer, data: { controller: 'drawer', action: 'turbo:before-frame-render->drawer#animate' } %>
<% end %>

<section
  data-controller="<%= @is_search ? 'search infinite-scroll' : 'infinite-scroll' %>"
  data-search-query-value="<%= @query %>"
>
  <div class="mx-auto max-w-7xl">
    <%= render 'products/header', query: @query %>
    <%= render 'products/search_form', query: @query if @is_search %>

    <div data-search-target="results" class="min-h-screen">
      <%= render 'products/results_count', query: @query, products: @products, total_results: @total_results %>
      <%= render 'products/results_list', query: @query, products: @products, pagy: @pagy, is_search: @is_search %>
    </div>

    <%= render 'products/search_loading' if @is_search %>
  </div>
</section>
