<%= render 'drawer' do %>
  <div class="relative mt-6 flex-1 px-4 flex flex-col gap-2 m-2 sm:m-10">
    <div class="flex flex-col gap-4">
      <div class="h-96">
        <a href="#">
          <%= image_tag(cover_image(@product.cover), class: 'mx-auto h-full object-contain block', alt: @product.title) %>
        </a>
      </div>

      <div>
        <h1 class="text-2xl font-bold text-black mb-2"><%= @product.title %> </h1>
        <p class="text-primary-600 italic mb-4"><%= @product.subtitle %> </p>

        <div class="flex items-center mb-6">
          <span class="text-3xl font-bold text-magenta-500">
            <%= number_to_currency(@product.price) %>
          </span>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-8">
      <div>
        <h3 class="text-sm font-medium text-black">Idioma</h3>
        <p class="text-primary-600"><%= @product.productable.language %> (<%= @product.productable.language_zone %>) </p>
      </div>
      <div>
        <h3 class="text-sm font-medium text-black">Edición</h3>
        <p class="text-primary-600"><%= @product.productable.edition_number %></p>
      </div>
      <div>
        <h3 class="text-sm font-medium text-black">Páginas</h3>
        <p class="text-primary-600"><%= @product.productable.pages_number %></p>
      </div>
      <div>
        <h3 class="text-sm font-medium text-black">Portada</h3>
        <p class="text-primary-600"><%= @product.productable.cover_color %></p>
      </div>
      <div>
        <h3 class="text-sm font-medium text-black">Peso</h3>
        <p class="text-primary-600"><%= @product.productable.weight_grams %></p>
      </div>
      <div>
        <h3 class="text-sm font-medium text-black">Medidas</h3>
        <p class="text-primary-600"><%= @product.productable.dimensions %> cm</p>
      </div>
    </div>

    <%= render 'form_quantity', product: @product %>
  </div>
<% end %>
