<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || 'ILV Store' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="view-transition" content="same-origin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Open Graph / Facebook Meta Tags %>
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= content_for(:og_title) || content_for(:title) || 'ILV Store' %>">
    <meta property="og:description" content="<%= content_for(:og_description) || 'Tienda de libros lingüísticos' %>">
    <meta property="og:image" content="<%= content_for(:og_image) || "#{request.base_url}/og-image.png" %>">
    <meta property="og:image:width" content="1640">
    <meta property="og:image:height" content="924">
    <meta property="og:site_name" content="ILV Store">
    <meta property="og:locale" content="<%= I18n.locale %>">

    <%# Twitter Card Meta Tags %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="<%= request.original_url %>">
    <meta name="twitter:title" content="<%= content_for(:og_title) || content_for(:title) || 'ILV Store' %>">
    <meta name="twitter:description" content="<%= content_for(:og_description) || 'Tienda de libros lingüísticos' %>">
    <meta name="twitter:image" content="<%= content_for(:og_image) || "#{request.base_url}/og-image.png" %>">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="min-h-screen flex flex-col">
    <%= render 'shared/navbar' %>
    <div id="flash"> <%= render 'shared/flash' %> </div>
    <%= turbo_stream_from(current_cart) if current_user %>
    <%= turbo_frame_tag :drawer, data: { controller: 'drawer', action: 'turbo:before-frame-render->drawer#animate' } %>
    <%= turbo_frame_tag :remote_modal %>

    <main class="flex flex-col flex-grow bg-blue-50 p-8 antialiased">
      <%= yield %>
    </main>
  </body>

  <%= render 'shared/footer' %>
</html>
