<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Error | ILV Store' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": 'reload' %>
  </head>

  <body class="min-h-screen flex flex-col">
    <nav class="py-4 px-8 bg-white antialiased">
      <div class="max-w-screen-xl mx-auto">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-8">
            <div class="shrink-0 flex items-center">
              <a href="/" class="flex items-center">
                <%= image_tag 'ilv-logo.png', class: 'w-auto h-8' %>
                <span class="ml-4 text-2xl text-black font-semibold hidden sm:inline">ILV Store</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="flex flex-col flex-grow items-center bg-blue-50 p-8 antialiased">
      <%= yield %>
    </main>

    <footer class="bg-white antialiased">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <hr class="my-6 border-primary-200 sm:mx-auto lg:my-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-primary-700 sm:text-center">© <%= Time.current.year %> ILV Store. Todos los derechos reservados.</span>
        </div>
      </div>
    </footer>
  </body>
</html>
